body {
    padding: 0;
    margin: 0;
    
    /* Add these lines */
    display: flex;
    height: 100vh;           /* Must have height for vertical centering */
    justify-content: center; /* Centers horizontally */
    align-items: center;   /* Centers vertically */
}

#map {

    height: 90vh;
    width: 150vh;
}


#intro, #map {
    width: 100%;
    display: block;
}